body {
    background-color: orange;
    font-family: "Courier New", Courier, monospace;
    color: white;
}

.wrapper {
    display: grid;
    place-items: center;
    font-size: x-large;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
        1px 1px 0 #000;
}

.blank {
    height: 10px;
}

.copyright {
    font-size: 12px;
    text-shadow: none;
    color: rgba(0, 0, 0, 0.5);
}
